<div class="card">
  <agm-map
    [latitude]="start.lat"
    [longitude]="start.lng"
    [mapTypeControl]="true"
    (centerChange)="onCenterChange($event)"
    [zoom]="zoom">
    <agm-marker
      [latitude]="start.lat"
      [longitude]="start.lng"
      [markerDraggable]="true"
      (dragEnd)="onDragEndMarker($event)">
      <agm-info-window>
        {{ start.lat }}, {{ start.lng }}
      </agm-info-window>
    </agm-marker>
  </agm-map>

  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="lat">LATITUDE</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Y</div>
            </div>
            <input id="lat" type="text" readonly class="form-control" [value]="start.lat">
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary btn-sm" [clip]="start.lat" title="Copy to clipboard">
                <i class="far fa-clone"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="lng">LONGITUDE</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">X</div>
            </div>
            <input id="lng" type="text" readonly class="form-control" [value]="start.lng">
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary btn-sm" [clip]="start.lng">
                <i class="far fa-clone"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="hash">
            GEOHASH
          </label>
          <div class="input-group">
            <input id="hash" type="text" readonly class="form-control" [value]="hash">
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary btn-sm" [clip]="hash">
                <i class="far fa-clone"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="whatIsHere">
      <label for="whatIsHere">WHAT IS HERE</label>
      <div class="input-group">
        <input id="whatIsHere" type="text" readonly class="form-control" [value]="whatIsHere">
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary btn-sm" [clip]="whatIsHere">
            <i class="far fa-clone"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-header">
    <ul class="nav nav-pills card-header-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="showSearch = !showSearch">
          <i class="fas fa-search-location"></i>
          Search Address
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="updatePosition()">
          <i class="fas fa-compass"></i>
          Geolocation
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="dropMarker()">
          <i class="fas fa-map-marker-alt"></i>
          Drop Marker
        </a>
      </li>
    </ul>
  </div>

  <div class="card-body" *ngIf="showSearch">
    <div class="form-group">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>

        <input type="search"
          [(ngModel)]="query"
          [ngModelOptions]="{updateOn: 'change', debounce: 200}"
          (ngModelChange)="onChangeQuery($event)"
          placeholder="Type the address to start search"
          class="form-control">
      </div>
    </div>

    <ul *ngIf="places !== null && places.length > 0" class="list-group">
      <li class="list-group-item" *ngFor="let place of places" (click)="selectAddress(place)">
        {{ place.formatted_address }}
        <span class="float-right text-primary">
          {{ place.geometry.location.lat }}, {{ place.geometry.location.lng }}
        </span>
      </li>
    </ul>
  </div>
</div>
